{{ define "main" }}
<!--
<div class="col-xs-12 col-sm-8 col-md-9 content-column">
    {{ partial "mobile_nav_toggle.html" . }}
    <div class="grid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                <div class="box-masonry">

                        <ul>
                                {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
                                  <li><a href="{{ "/" | relLangURL}}{{ $taxonomyname | urlize }}">{{ $taxonomyname }}</a>
                                    <ul>
                                      {{ range $key, $value := $taxonomy }}
                                      <li> {{ $key }} </li>
                                            <ul>
                                            {{ range $value.Pages }}
                                                <li><a href="{{ .Permalink}}"> {{ .LinkTitle }} </a> </li>
                                            {{ end }}
                                            </ul>
                                      {{ end }}
                                    </ul>
                                  </li>
                                {{ end }}
                              </ul>
                      
                </div>
            </div>
        </div>
    </div>
</div>
-->
    {{ partial "portfolio.html" . }}
{{ end }}
